# Pliki do ignorowania w Dockerze
.git
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
.env

# Buildozer
.buildozer/
bin/
*.apk

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db